@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  border-box: border-box;
}
body {
  font-family: "roboto", "serif";
}
h1,
h2 {
  text-align: center;
  color: rgb(30, 30, 160);
}

.bng {
  height: 400px;
  width: 500px;
  text-align: center;
  text-align: justify;
  background-color: rgb(94, 25, 25);
  border: 10px;
  border-color: black;
  border-style: inset;
}
#gold {
  color: rgb(108, 150, 196);
}
#silver:hover {
  color: blueviolet;
}
div > p {
  font-style: bold;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.pizza {
  display: none;
}
section {
  background-color: rgb(96, 89, 89);
  text-align: center;
  height: 400px;
  width: 400px;
  display: inline-block;
}
