@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$primaryColor: rgb(52, 52, 179);
$secondaryColor: rgb(174, 125, 133);

p {
  background-color: $primaryColor;
}
